# Python
backend/__pycache__/
backend/*.py[cod]
backend/*.so
backend/.env/
backend/venv/
backend/env/

# Django
backend/db.sqlite3
backend/media/
backend/*.log
backend/*.pot
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/*.sqlite3
backend/*.pdb

# Node.js (Frontend)
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Logs
logs/
*.log

# Windows
Thumbs.db
ehthumbs.db

# Python __pycache__ et fichiers compilés
**/__pycache__/
*.py[cod]